@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .btn {
    @apply bg-green_700 rounded-full text-white font-semibold
  }
}

.service::after{
  content: "";
  background:url(./assets/static/icons/asteriks.svg) no-repeat;
  width:10px;
  height:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right:0px;
  top:40%;
}
